<section>
    <div class="content">
        <div class="info">
            <div class="points">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <p class="coming">The <span>page site</span> is coming</p>
            <h1>SOON</h1>
            <p class="phrase">Get ready for the new thing to come</p>
            <div class="action">
                <button routerLink="/">Back to Home</button>
            </div>
        </div>
    </div>
</section>