<footer>
    <div class="content">
        <div class="footer-icons">
            <div class="logo">
                <!-- <img src="../../../assets/images/logo.svg" alt="logo" routerLink=""> -->
                <a routerlink="/">GameRoom</a>

            </div>
            <div class="icons">
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest-square"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>

        <div class="copyright">
            <p>&#169; 2021 LoopsStudios. All rights reserved</p>
        </div>
    </div>
</footer>