footer {
    background-color: black;
    margin-top: 150px;
    padding: 20px;


    .content {

        .footer-icons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo a {
                cursor: pointer;
                font-weight: 500;
                font-size: 25px;
                font-family: 'Concert One', sans-serif;
            }

            .icons {
                display: flex;

                a {
                    text-decoration: none;
                    font-size: 22px;
                    margin: 5px;

                }
            }
        }

        .copyright {
            color: white;
            display: flex;
            justify-content: flex-end;
        }

    }
}