<nav>
    <div class="navbar">
        <div class="logo" routerLink="">
            <!-- <img src="/assets/images/logo.svg" alt="logo"> -->
            <a routerlink="/">GameRoom</a>
        </div>

        <div class="links">
            <a routerLink="/about">About</a>
            <a routerLink="/events">Events</a>
            <a routerLink="/consoles">Consoles</a>
            <a routerLink="/games">Games</a>
        </div>

        <!-- <div class="menu-button" (click)="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div> -->

        <!-- @if (showMenu) {
        <div class="mobile-links">
            <a routerLink="about">About Us</a>
            <a routerLink="events">Events</a>
            <a routerLink="products">Consoles</a>
            <a routerLink="support">Games</a>
        </div>
        } -->
    </div>
    <div class="section-title">
        <div class="title">
            <h1>
                Captivating Journeys That Unfold
            </h1>
        </div>
    </div>

</nav>